<template>
<div class="products">
    <div v-for="product in products">
      <span>{{ product.name }}</span>
    </div>
</div>
</template>

<script>
import Product from '../../services/products'

export default {
  name: 'Products',
  data() {
    return {
      products: []
    }
  },

  created(){
    this.getProducts()
  },

  methods: {
    async getProducts() {
      const response = await Product.fetchProducts()
      this.products = response.data.products
      console.log(response.data)
    }
  }
}
</script>

<style lang="css">
</style>
