<template lang="html">
<div>
  <p>Name: {{ product.name }}</p>
  <p>Descripcion: {{ product.description }}</p>
  <p>Precio: {{ product.price }}</p>
</div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Product',

    data() {
      return {
        product: {}
      }
    },

    created() {
      this.fetchData()
    },

    methods: {
      fetchData() {
        axios.get('http://localhost:3002/api/product/'+ this.$route.params.id + '/')
        .then((resp) => {
          this.product = resp.data.product
          console.log(resp.data.product)
        })
        .catch((err) => {
          console.log(err)
        })
      }
    }


  }
</script>

<style lang="css">
</style>
