<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-link :to="{ name: 'Hello', params: {} }">Home</router-link>
    <router-link :to="{ name: 'Products', params: {} }">Productos</router-link>
    <router-link :to="{ name: 'Product', params: {id: '5a3b3896fa63e62bc43f0240'} }">Product</router-link>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
